                                    Assignment -Data Types and Structures Questions

In [1]:
# 1. What are data structures, and why are they important?

# Ans. Data structures are ways to organize and store data 
#  so we can use it efficiently — like keeping clothes in drawers to find them faster.

In [3]:
# 2. Explain the difference between mutable and immutable data types with examples.

# Ans.Mutable types like lists can be changed after creation. Immutable types like strings, tuples can’t be changed.
# Example:
# a = [1, 2]  mutable  
# b = (1, 2)  immutable

In [4]:
# 3. What are the main differences between lists and tuples in Python?

# Ans.Lists is mutable and tuples is immutable.

In [5]:
# 4. Describe how dictionaries store data.

# Ans.Dictionaries store data in key-value pairs, like a contact book where a name key maps to a number value.

In [6]:
# 5. Why might you use a set instead of a list in Python?

# Ans.Sets automatically remove duplicates and are faster for checking if something exists.

In [7]:
# 6. What is a string in Python, and how is it different from a list?

# Ans. A string is a sequence of characters, like "hello". Unlike lists, 
# strings can’t be changed and only store characters.

In [8]:
# 7. How do tuples ensure data integrity in Python?

# Ans. tuples can't be changed, they protect the data from accidental edits — good for fixed data like employ ID.

In [9]:
# 8. What is a hash table, and how does it relate to dictionaries in Python?

# Ans. A hash table is a system that quickly maps keys to values using a hash function. 
# Python dictionaries use hash tables under the hood.

In [10]:
# 9. Can lists contain different data types in Python?

# Ans. Yes, Python lists can store anything — numbers, strings, even other lists.

In [11]:
# 10. Explain why strings are immutable in Python.

# Ans.Strings are immutable to save memory and make them safe to share  the program without risk of unexpected changes.

In [12]:
# 11. What advantages do dictionaries offer over lists for certain tasks?

# Ans. Dictionaries give faster access using keys instead of searching through the list — great when each item has a label.

In [13]:
# 12. Describe a scenario where using a tuple would be preferable over a list.
    
# Ans.If you want to store fixed info like employ ID that shouldn’t change, use a tuple.

In [14]:
# 13. How do sets handle duplicate values in Python?

# Ans. Sets remove any duplicate values automatically and we only get unique elements.

In [15]:
# 14. How does the “in” keyword work differently for lists and dictionaries?

# Ans. For lists, it checks if a value exists. For dictionaries, it checks if a key exists .

In [16]:
# 15. Can you modify the elements of a tuple? Explain why or why not.

# Ans. No tuples are immutable. Once created, their contents can't be changed

In [17]:
# 16. What is a nested dictionary, and give an example of its use case.
# Ans.A nested dictionary has another dictionary inside it.
# Example:
# student = {"name": "Mayank", "marks": {"math": 90, "eng": 85}}

In [18]:
# 17. Describe the time complexity of accessing elements in a dictionary.

# Ans.Accessing elements is usually O(1), which means it's super fast — no matter how big the dictionary is.

In [21]:
# 18. In what situations are lists preferred over dictionaries?

# Ans.When order matters or we just have a simple sequence of items without labels — like a to-do list.

In [ ]:
# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

# Ans.Dictionaries are unordered because they store data by key, not position. 
# we access values using keys, not indexes, so order doesn’t matter.

In [ ]:
# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
    
# Ans. In a list, we find data by position (index). In a dictionary, we get data using a key — much faster and clearer.

Practical Questions

In [23]:
# 1. Create a string with your name and print it

# Ans.
name = "Mayank"
print(name)

Mayank

In [24]:
# 2. Find the length of the string "Hello World"

#Ans.
print(len("Hello World"))

11

In [26]:
# 3. Slice the first 3 characters from "Python Programming"

# Ans.
text = "Python Programming"
print(text[:3])

Pyt

In [27]:
# 4. Convert "hello" to uppercase

# Ans.
print("hello".upper())

HELLO

In [28]:
# 5. Replace "apple" with "orange"

#Ans.
print("I like apple".replace("apple", "orange"))

I like orange

In [29]:
# 6. Create a list with numbers 1 to 5 and print it
# Ans.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [31]:
# 7. Append 10 to the list [1, 2, 3, 4]
# Ans.
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [32]:
# 8. Remove 3 from the list [1, 2, 3, 4, 5]

# Ans
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [61]:
# 9. Access the second element in ['a', 'b', 'c', 'd']
# Ans.
l = ['a', 'b', 'c', 'd']
print(l[1])

b

In [34]:
# 10. Reverse the list [10, 20, 30, 40, 50]
# Ans.
lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

In [35]:
# 11. Create a tuple with 100, 200, 300 and print it\
# Ans.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [36]:
# 12. Access second-to-last element of ('red', 'green', 'blue', 'yellow')
# Ans
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [37]:
# 13. Find minimum in (10, 20, 5, 15)
# Ans.
nums = (10, 20, 5, 15)
print(min(nums))

5

In [38]:
# 14. Index of "cat" in ('dog', 'cat', 'rabbit')
# Ans.
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [64]:
# 15. Tuple of fruits and check if "kiwi" is in it
# Ans
fruits = ("apple", "banana", "mango","Kiwi")
print("Kiwi" in fruits)

True

In [40]:
# 16. Create a set with 'a', 'b', 'c' and print it
# Ans
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [41]:
# 17. Clear all elements from set {1, 2, 3, 4, 5}
# Ans.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [42]:
# 18. Remove 4 from set {1, 2, 3, 4}
# Ans.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [43]:
# 19. Find union of {1, 2, 3} and {3, 4, 5}
# Ans.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [44]:
# 20. Find intersection of {1, 2, 3} and {2, 3, 4}
# Ans.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [46]:
# 21. Create a dictionary with keys "name", "age", "city"
# Ans.
d = {"name": "Mayank", "age": 22, "city": "Gwalior"}
print(d)

{'name': 'Mayank', 'age': 22, 'city': 'Gwalior'}

In [47]:
# 22. Add "country": "USA" to {'name': 'John', 'age': 25}

# Ans.
d = {'name': 'John', 'age': 25}
d['country'] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [48]:
# 23. Access value of "name" in {'name': 'Alice', 'age': 30}

# Ans.
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [49]:
# 24. Remove key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}
# Ans.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [50]:
# 25. Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}

# Ans.
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [51]:
# 26. Create list, tuple, dictionary and print them
# Ans.
l = [1, 2, 3]
t = (4, 5, 6)
d = {'a': 1, 'b': 2}
print(l, t, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [52]:
# 27. List of 5 random numbers between 1–100, sort and print
# Ans.
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[31, 37, 48, 83, 90]

In [53]:
# 28. List with strings and print element at third index
# Ans.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [59]:
# 29. Combine two dictionaries and print
# Ans.
a = {"x": 1, "y": 2}
b = {"z": 3}
c = {**a, **b}
print(c)

{'x': 1, 'y': 2, 'z': 3}

In [56]:
# 30. Convert list of strings into a set
# Ans.
words = ["apple", "banana", "apple"]
print(set(words))

{'apple', 'banana'}